<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}DonaSangreHoy!{% endblock %}
{% block content %}
<br>
<br>
<br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p><b>
        Nuestro sitio está evolucionando...
      </b></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <font color="red">
        <b>
          Queremos que solicitantes y donantes de sangre se encuentren.
        </b>
      </font>
    </figcaption>
    <figcaption class="blockquote-footer">
      Te invitamos a visitar la sección de información importante:
    </figcaption>
    </text>
    <a href="{% url 'informacion' %}" class="btn btn-outline-dark btn-sm" button style="margin: 10px">Información importante</a>
  </figure>
{% endblock %}