<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}DonaSangreHoy!{% endblock %}
{% block content %}
<br>
<div align="center">
  <div class="filtros">
    <form method="get">

                    <label for="factor-grupo" style="margin: 10px">Factor y Grupo:</label>
                    <select name="factor-grupo" id="factor-grupo">
                        <option value="">---</option>
                        {% for factorGrupo_obj in factores_grupos %}
                            <option value="{{ factorGrupo_obj.blood_type }}" {% if factorGrupo_obj.blood_type == request.GET.factorGrupo %}selected{% endif %}>{{ factorGrupo_obj.blood_type }}</option>
                        {% endfor %}
                    </select>

                    <label for="localidad" style="margin: 10px">Localidad:</label>
                    <select name="localidad" id="localidad">
                        <option value="">---</option>
                        {% for localidad_obj in localidades %}
                            <option value="{{ localidad_obj.nombre }}" {% if localidad_obj.nombre == request.GET.localidad %}selected{% endif %}>{{ localidad_obj.nombre }}</option>
                        {% endfor %}
                    </select>

                    <label for="rango-fecha-expiracion" style="margin: 10px">Expira entre:</label>
                    <input type="date" name="fecha-desde" id="fecha-desde">
                    <label style="margin: 10px">y</label>
                    <input type="date" name="fecha-hasta" id="fecha-hasta">


                    <button type="submit" class="btn btn-dark btn-sm" style="margin: 10px">Aplicar</button>
    </form>
  </div>
  {% if user.is_authenticated %}
  <a href="{% url 'new_post' %}" type="button" class="btn btn-danger" button style="margin: 10px" >Nueva solicitud</a>
  <h5>_______________________________________</h5>
  {% endif %}
  </div>

  {% include 'post_list.html' %}
{% endblock %}
