<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block extra_head_content %}
	<style type="text/css">
          #map{ width:600px; height: 350px; }
        </style>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initMap" async defer></script>
	<script type="text/javascript" src="{% static "postCreateMap.js" %}"></script>
{% endblock %}

{% block content %}
<div align = "center">
  <br>
  <h4>Nueva solicitud de donantes de sangre</h4>
  <form method="POST" class="post-form" enctype="multipart/form-data">
  {% csrf_token %}
      <div>
        <b>Titulo *</b> <br>
        {{form.title}} <br><br>
      </div>
      <div>
        <b>¿Qué grupo y factor? *</b><br>
        {{form.blood_type}}   <br><br>
      </div>
      <div>
	<b>¿Cuantos litros requiere? *<b><br>
	{{ form.liters_required }} <br><br>
      </div>
      <div>
        <b>¿Ciudad? *<br></b>
        {{form.location}}  <br><br>
      </div>
      <div>
        <b>¿Ubicación del establecimiento? *<br></b>
        <div id="map"></div>
	<input hidden="true" type="text" id="id_latitud" readonly="yes"><br>
    	<input hidden="true" type="text" id="id_longitud" readonly="yes">

      </div>
      <div>
        <b>Agregá toda la información que consideres necesaria: *</b><br>
        {{form.body}} <br><br>
      </div>
      <div>
        <b>Imagen opcional:</b><br>
        {{form.photo}} <br><br>
      </div>
      <div>
        <b>Fecha de finalización del pedido * </b><br>
        {{form.expiration_date}} <br><br>
      </div>
      <button type="submit" class="btn btn-outline-danger">Guardar</button>
      <br>
  </form>

</div>

{% endblock %}
