{% for post in lista_posteos %}
<div align="center">
    <br>
    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-danger"><b>{{ post.blood_type }} | {{ post.liters_required }} L | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
            </svg>
            <b> {{ post.location }}</b>
        </div>


        <div class="card-body text-danger">
          <h5 class="card-title">{{ post.title|upper }}</h5>
          <p class="card-text">{{ post.body|truncatechars:20 }}
            <h6> <b> Litros donados: <b >{{post.liters_donated}} </b></b> </h6>
            <h6>Creada: {{ post.created_date|date:"d/m/Y" }}</h6>
            <h6>Finaliza: {{post.expiration_date|date:"d/m/Y"}}</h6>

          </p>
        </div>
        <div class="card-footer bg-transparent border-danger">    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-dark btn-sm">Ver detalle</a>
        </div>

    </div>


</div>
{% endfor %}    