{% extends 'base.html' %}
{% load static %}

{% block extra_head_content %}
	<style type="text/css">
          #map{ width:600px; height: 350px; }
        </style>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSHD4vrWK98EPYTW8Ziu0alqTvXlpRrto&callback=initMap" async defer></script>
	<script type="text/javascript" src="{% static "postViewMap.js" %}"></script>
  <script>
		window.onload = function() {
			initMap({{ post.latitud }}, {{ post.longitud }});
		};
	</script>
{% endblock %}

{% block content %}

<div align="center">
  <br>
  <h5>_______________________________________</h5>
  <h6 style="color:red;">Solicitante: {{ post.author }}</h6>
  <h4> <b> Grupo y factor requerido: <b style="color:red;">{{ post.blood_type }}</b></b></h4>
  <h5> <b> Litros requeridos: <b style="color:red;">{{ post.liters_required }} </b></b> </h5>
  <h5> <b> Litros donados: <b style="color:red;">{{ post.liters_donated }} </b></b> </h5>
  <br>
  <br>
  <h5> <b> {{ post.title|upper }} </b> </h5>
  <h6> {{ post.body }} </h6>
  <br>
  {% if post.photo.url is not None %}
  <img src="{{ MEDIA_URL }}{{ post.photo.url }}" style="max-height:300px"></img>
  <br>
  <br>
  {% endif %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
  </svg>
  <b> {{ post.location }}</b>
  <div id="map"></div>
  <br>
  <br>

  <a href="https://twitter.com/intent/tweet?hashtags=donasangrehoy&url=donasangrehoy.onrender.com/detail/{{post.pk}}&text={{ post.title }} - {{post.location}}" 
  class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <br>
  <br>
  <h6>Creada: {{ post.created_date|date:"d/m/Y" }}</h6>
  <h6>Finaliza: {{post.expiration_date|date:"d/m/Y"}}</h6>
  <h5>_______________________________________</h5>
</div>

{% endblock %}
